@import '~styles/attributes';

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyTouch {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}
