@import '~styles/attributes';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px;
}

.colorsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.displayChar {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
}